<div class="col-xs-12">
  <div class="">
    <p><%= machine.name %></p>
    <p><%= render partial: 'box', collection: machine.input_boxes %></p>
    <p><%= render partial: 'box', collection: machine.output_boxes %></p>
  </div>
</div>
