<div class="container">
  <div class="col-md-3">
    <div class="row">
      <h3> Assign Machine Order </h3>
      <%= simple_form_for @job do |f| %>
        <%= f.simple_fields_for :job_machines do |job_form| %>
          <%= job_form.input :step_number, label: job_form.object.machine.name %>
        <% end %>
        <%= f.button :submit, "Submit", id: 'order_machines' %>
      <% end %>
    </div>
  </div>
</div>
