<div class="col-md-3">
  <div class="row">
    <ul class="">
      <li id="new-job" style="list-style-type: none;"><%= link_to "New Job", new_job_path, class: "btn btn-default" %></li>
    </ul>
  </div>
</div>
<div class="col-md-9 text right">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th> Job Number </th>
          <th> Add Boxes </th>
          <th> Add Machines </th>
        </tr>
      </thead>
      <tbody>
        <%= render @jobs %>
      </tbody>
    </table>
  </div>
</div>
