<h1>Job Display</h1>
<div class="col-md-7">
  <%= render partial: "machine", collection: @machines %>
</div>
<div class="col-lg-5 col-md-5">
  <div class="box-heading">
    <h3>Initial Boxes</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th> Box Number </th>
        <th> Material Type </th>
        <th> Box Weight </th>
        <th> Location </th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "box", collection: @boxes %>
    </tbody>
  </table>
</div>
