<h1>Job Display</h1>
<div class="col-md-6">

</div>
<div class="col-lg-6 col-md-6">
  <table class="table">
    <thead>
      <tr>
        <th> Box Number </th>
        <th> Box Weight </th>
        <th> Location </th>
        <th> Delete </th>
      </tr>
    </thead>
    <tbody>
      <%= render @boxes %>
    </tbody>
  </table>
</div>
