<tr>
  <td id="show-job"><%= link_to job.job_number, job_path(job), class: "btn btn-default" %></td>
  <td id="customer"><%= job.customer.name %></td>
  <td id="lets-run-this"><%= link_to "Manage Job", job_machine_path(job.link_job_with_machine(@machine)), class: "btn btn-default" %></td>
  <td id="job-status"><%= job.job_status %></td>
</tr>
