<div class="col-xs-12">
  <p><%= @machine.name %></p>
</div>
<div class="col-xs-6">
  <div class="">
    <table class="table">
      <thead>
        <tr>
          <th> Job Number </th>
          <th> Customer Name </th>
          <th> Start Job </th>
          <th> Job Status </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "job", collection: @jobs %>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class="col-xs-2">
</div>
<div class="col-xs-3">
  <div class="">
    <h3>Input Boxes</h3>
    <table class="table">
      <thead>
        <tr>
          <th> Box Number </th>
          <th> Material Type </th>
          <th> Box Weight </th>
          <th> Location </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'box', collection: @machine.input_boxes %>
      </tbody>
    </table>
  </div>
</div>
<div class="col-xs-3">
  <div class="">
    <h3>Output Boxes</h3>
    <table class="table">
      <thead>
        <tr>
          <th> Box Number </th>
          <th> Material Type </th>
          <th> Box Weight </th>
          <th> Location </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'box', collection: @machine.output_boxes %>
      </tbody>
    </table>
  </div>
</div> -->
