<div class="col-xs-12">
  <p><%= @machine.name %></p>
</div>
<div class="col-xs-6">
  <div class="">
    <table class="table">
      <thead>
        <tr>
          <th> Job Number </th>
          <th> Customer Name </th>
          <th> Manage Job </th>
          <th> Job Status </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "job", collection: @jobs %>
      </tbody>
    </table>
  </div>
</div>
