<!-- <%= f.association :boxes do |box_form| %>
  <div class="first_box">
    <%= box_form.input :location_id, as: :select, collection: Location.all.order(:name) %>
    <%= box_form.input :material_id, as: :select, collection: Material.all.order(:name) %>
    <%= box_form.input :material_weight %>
  </div> -->
  <!-- <button id="add_box" class="btn btn-primary">Add another box</button>
  <% end %> -->
